<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
	<title>Email Sent Successfully</title>
	<style>
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
		}
		.message {
			display: flex;
			align-items: center;
			margin-bottom: 2rem;
		}
		.check-icon {
			font-size: 4rem;
			color: green;
			margin-right: 1rem;
		}
		.text {
			font-size: 2rem;
			color: green;
			font-weight: bold;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="message">
			<i class="bi bi-check-circle-fill check-icon"></i>
			<span class="text">Change Password Link, Sent Successfully!</span>
		</div>
	</div>
</body>
</html>
